.slider-wrapper body {
  margin: 0;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.slider-wrapper .slider {
  width: 100%;
}
.slider-wrapper .slider input {
  display: none;
}
.slider-wrapper .testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
}
.slider-wrapper .testimonials .item {
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: grey;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.slider-wrapper .testimonials .item a {
  height: 300px;
  display: none;
  position: absolute;
  width: 250px;
  top: 0px;
  left: 0px;
  opacity: 0.3;
}
.slider-wrapper .testimonials .item img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  filter: brightness(0.8);
  transition: filter 0.4s;
  object-fit: contain;
}
.slider-wrapper .testimonials .item p {
  color: #ddd;
}
.slider-wrapper .testimonials .item h2 {
  font-size: 14px;
}
.slider-wrapper .dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper .dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: salmon;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}
.slider-wrapper #t-1:checked ~ .dots label[for=t-1] {
  transform: scale(2);
}
.slider-wrapper #t-1:checked ~ .dots label[for=t-2] {
  transform: scale(1.5);
}
.slider-wrapper #t-1:checked ~ .testimonials label[for=t-1] {
  z-index: 4;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.67);
}
.slider-wrapper #t-1:checked ~ .testimonials label[for=t-1] a {
  display: block;
}
.slider-wrapper #t-1:checked ~ .testimonials label[for=t-1] img {
  filter: none;
}
.slider-wrapper #t-1:checked ~ .testimonials label[for=t-2] {
  transform: translateX(200px) translateZ(-90px) rotateY(-15deg);
  z-index: 3;
}
.slider-wrapper #t-1:checked ~ .testimonials label[for=t-3] {
  transform: translateX(400px) translateZ(-180px) rotateY(-25deg);
  z-index: 2;
}
.slider-wrapper #t-1:checked ~ .testimonials label[for=t-4] {
  transform: translateX(600px) translateZ(-270px) rotateY(-35deg);
  z-index: 1;
}
.slider-wrapper #t-1:checked ~ .testimonials label[for=t-5] {
  transform: translateX(800px) translateZ(-360px) rotateY(-45deg);
}
.slider-wrapper #t-2:checked ~ .dots label[for=t-1] {
  transform: scale(1.5);
}
.slider-wrapper #t-2:checked ~ .dots label[for=t-2] {
  transform: scale(2);
}
.slider-wrapper #t-2:checked ~ .dots label[for=t-3] {
  transform: scale(1.5);
}
.slider-wrapper #t-2:checked ~ .testimonials label[for=t-1] {
  transform: translateX(-200px) translateZ(-90px) rotateY(15deg);
}
.slider-wrapper #t-2:checked ~ .testimonials label[for=t-2] {
  z-index: 3;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.67);
}
.slider-wrapper #t-2:checked ~ .testimonials label[for=t-2] a {
  display: block;
}
.slider-wrapper #t-2:checked ~ .testimonials label[for=t-2] img {
  filter: none;
}
.slider-wrapper #t-2:checked ~ .testimonials label[for=t-3] {
  transform: translateX(200px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
.slider-wrapper #t-2:checked ~ .testimonials label[for=t-4] {
  transform: translateX(400px) translateZ(-180px) rotateY(-25deg);
  z-index: 1;
}
.slider-wrapper #t-2:checked ~ .testimonials label[for=t-5] {
  transform: translateX(600px) translateZ(-270px) rotateY(-35deg);
}
.slider-wrapper #t-3:checked ~ .dots label[for=t-2] {
  transform: scale(1.5);
}
.slider-wrapper #t-3:checked ~ .dots label[for=t-3] {
  transform: scale(2);
}
.slider-wrapper #t-3:checked ~ .dots label[for=t-4] {
  transform: scale(1.5);
}
.slider-wrapper #t-3:checked ~ .testimonials label[for=t-1] {
  transform: translateX(-400px) translateZ(-180px) rotateY(25deg);
}
.slider-wrapper #t-3:checked ~ .testimonials label[for=t-2] {
  transform: translateX(-200px) translateZ(-90px) rotateY(15deg);
}
.slider-wrapper #t-3:checked ~ .testimonials label[for=t-3] {
  z-index: 3;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.67);
}
.slider-wrapper #t-3:checked ~ .testimonials label[for=t-3] a {
  display: block;
}
.slider-wrapper #t-3:checked ~ .testimonials label[for=t-3] img {
  filter: none;
}
.slider-wrapper #t-3:checked ~ .testimonials label[for=t-4] {
  transform: translateX(200px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
.slider-wrapper #t-3:checked ~ .testimonials label[for=t-5] {
  transform: translateX(400px) translateZ(-180px) rotateY(-25deg);
}
.slider-wrapper #t-4:checked ~ .dots label[for=t-3] {
  transform: scale(1.5);
}
.slider-wrapper #t-4:checked ~ .dots label[for=t-4] {
  transform: scale(2);
}
.slider-wrapper #t-4:checked ~ .dots label[for=t-5] {
  transform: scale(1.5);
}
.slider-wrapper #t-4:checked ~ .testimonials label[for=t-1] {
  transform: translateX(-600px) translateZ(-270px) rotateY(35deg);
}
.slider-wrapper #t-4:checked ~ .testimonials label[for=t-2] {
  transform: translateX(-400px) translateZ(-180px) rotateY(25deg);
}
.slider-wrapper #t-4:checked ~ .testimonials label[for=t-3] {
  transform: translateX(-200px) translateZ(-90px) rotateY(15deg);
  z-index: 2;
}
.slider-wrapper #t-4:checked ~ .testimonials label[for=t-4] {
  z-index: 3;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.67);
}
.slider-wrapper #t-4:checked ~ .testimonials label[for=t-4] a {
  display: block;
}
.slider-wrapper #t-4:checked ~ .testimonials label[for=t-4] img {
  filter: none;
}
.slider-wrapper #t-4:checked ~ .testimonials label[for=t-5] {
  transform: translateX(200px) translateZ(-90px) rotateY(-15deg);
}
.slider-wrapper #t-5:checked ~ .dots label[for=t-4] {
  transform: scale(1.5);
}
.slider-wrapper #t-5:checked ~ .dots label[for=t-5] {
  transform: scale(2);
}
.slider-wrapper #t-5:checked ~ .testimonials label[for=t-1] {
  transform: translateX(-800px) translateZ(-360px) rotateY(45deg);
}
.slider-wrapper #t-5:checked ~ .testimonials label[for=t-2] {
  transform: translateX(-600px) translateZ(-270px) rotateY(35deg);
  z-index: 1;
}
.slider-wrapper #t-5:checked ~ .testimonials label[for=t-3] {
  transform: translateX(-400px) translateZ(-180px) rotateY(25deg);
  z-index: 2;
}
.slider-wrapper #t-5:checked ~ .testimonials label[for=t-4] {
  transform: translateX(-200px) translateZ(-90px) rotateY(15deg);
  z-index: 3;
}
.slider-wrapper #t-5:checked ~ .testimonials label[for=t-5] {
  z-index: 4;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.67);
}
.slider-wrapper #t-5:checked ~ .testimonials label[for=t-5] a {
  display: block;
}
.slider-wrapper #t-5:checked ~ .testimonials label[for=t-5] img {
  filter: none;
}