@import url('https://fonts.cdnfonts.com/css/heavitas');
/*font-family: 'Heavitas', sans-serif;*/
                                                
@import url("https://use.typekit.net/wfa7gqq.css");
/*font-family: "cooper-black-std", serif;
font-weight: 400;
font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/

body {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #00afe2;
}

a:hover {
    color: #e3773b;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#mapInset {
    bottom: 50px;
    right: 30px;
    height: 180px;
    width: 250px;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
}

#header h1 {
    font-family: 'Heavitas', sans-serif;
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
}

#header h2 {
    margin: 0;
    padding: 1vh 1vw;
    text-align: center;
    font-family: 'Heavitas', sans-serif;
}

#header p {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
}

#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.light {
    color: #fff;
    background-color: #00afe2;
}

.dark {
    color: #fafafa;
    background-color: #444;
}

.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}

.step.active {
    opacity: 0.99;
}

.step div {
    padding: 25px 50px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.conteudo h1 {
    padding: 0px 0px;
    line-height: 20px;
    font-size: 16px;
    font-family: 'Heavitas', sans-serif;
    text-transform: uppercase;
}

.conteudo img {
    margin-top: 15px;
    width: 100%;
}

#rotate-mobile {
    display: none;
}

.legend {
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #444;
    background-color: #fce0e9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    font-family: 'Montserrat', Helvetica, sans-serif;
    padding: 10px;
    display: none;
    z-index: 1;
    max-width: 350px;
}

.legend img {
    width: 25px;
    margin-right: 10px;
}

.legend h3 {
    margin: 0 0 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.legend div {
    vertical-align: center;
}

.legend div #block {
    display: inline-block;
    height: 20px;
    width: 30px;
    margin-right: 5px;
}

.legend div #text {
    vertical-align: top;
}

.mapboxgl-popup {
    font: 12px/20px 'Montserrat', Helvetica, sans-serif;
}

@media (max-width: 750px) {

    #features {
        width: 90vw;
        margin: 0 auto;
    }

    #header img {
        width: 80vw;
    }

    #header h1 {
        font-family: 'Roboto', 'Open Sans', 'Verdana', sans-serif;
        font-size: 1.9rem;
        text-transform: uppercase;
    }

    .lefty {
        width: 90%;
    }

    .step div {
        padding: 5px 15px;
    }

    .step div h3 {
        font-family: 'Lora', 'Georgia', serif;
        font-size: 1.5rem;
        font-weight: 1000;
    }

    #footer p {
        padding: 0;
    }

    #rotate-mobile {
        display: inline-block;
        margin-top: 25px;
    }

    #rotate-mobile img {
        margin-bottom: 25px;
        width: 50vw;
    }

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 75vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}