/*@import url('https://fonts.cdnfonts.com/css/heavitas?styles=22395');*/
/*font-family: 'Heavitas', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/*font-family: 'Lilita One', cursive;*/
                                            
@import url("https://use.typekit.net/wfa7gqq.css");
/*font-family: "cooper-black-std", serif;
font-weight: 400;
font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/

@import url('https://fonts.cdnfonts.com/css/bolgart');
/* font-family: 'Bolgart', sans-serif; */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.p-bottom {
    padding-bottom: 1.5em;
}

.p-left {
    padding-left: 3em;
}

.p-right-left {
    padding-right: 2em;
    padding-left: 2em;
}

.p-top {
    padding-top: 1em;
}

.txt-cent {
    text-align: center;
}

#mouse-cursor {   
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 4px solid #cc3480;
    border-radius: 999px;
    /*mix-blend-mode: difference;*/
    pointer-events: none;
    z-index: 9999;
    transition: top 0.025s ease, left 0.025s ease, transform 0.5s ease;
}

.navbar-brand img {
    width: 150px;
}

.navbar-collapse {
    position: fixed;
    top: 50px;
    right: 0;
    padding: 15px 25px;
    width: 30%;
    height: 100%;
}

.navbar-collapse.collapsing {
    left: -50%;
    transition: height 0s ease;
}

.navbar-collapse.show {
    right: 0;
    transition: left 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
}

@media (max-width: 800px)  {
    
    #mouse-cursor { 
        display: none; 
    }

    .navbar-collapse {
        width: 45%;
    }
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#mapInset {
    bottom: 50px;
    right: 30px;
    height: 180px;
    width: 250px;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

#header {
    position: relative;
    background-color: #fff;
    z-index: 1;
	height: 100vh;
    overflow: hidden;
}

#header .container-fluid {
    padding: 0 0;
}

#header video {
    max-width: 100%;
}

.smallsep {
	background: #cc3480;
	height: 1px;
	width: 12em;
}

a, a:visited {
    color: #ffc5da;
}

a:hover {
    color: #cc3480;
}

#header a {
    color: #ffc5da;
}

#header a:hover {
    color: #cc3480;
}

#header .logo img{
    width: 15em; 
}

#social-share {
    font-size: 1em;
}

#header h1 {
    text-transform: uppercase;
    font-family: 'Bolgart', sans-serif;
    color: #00afe2;
    text-align: left;
    font-size: 2.5rem;
}

#header h2 {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    color: #cc3480;
    font-size: 2rem;
}

.navbar {
    transition: all .5s ease-out;
}
  
.navbar-ontop{
    background-color: transparent !important;
    box-shadow: none;
}

@media (min-width: 576px) { 
    #header h1 {
        font-size: 2.75rem;
    }
    #header h2 {
        font-size: 2.25rem;
    }
    .smallsep {
        width: 14em;
    }
 }

@media (min-width: 768px) { 
    #header h1 {
        font-size: 3.5rem;
    }
    #header h2 {
        font-size: 3rem;
    }
    .smallsep {
        width: 16em;
    }
    .navbar-brand img {
        width: 125px;
    }
}

@media (min-width: 992px) { 
    #header h1 {
        font-size: 3.75rem;
    }
    #header h2 {
        font-size: 3rem;
    }
    .navbar-brand img {
        width: 200px;
    }    
 }

@media (min-width: 1200px) { 
    #header h1 {
        font-size: 4rem;
    }
    #header h2 {
        font-size: 3rem;
    }
 }

ul>li{
    display:inline-block;
    padding-right: 0.75em;
}
 
ul>li>a, ul>li>a:hover, ul>li>a:visited{
    text-decoration: none;
}
 
ul.social-icons{
    list-style: none;
    padding: 0;
}
   
ul.social-icons li{
   display: inline;
}
  
.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 7vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid #cc3480;
	border-right: 2px solid #cc3480;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 1.25s ease-in-out infinite;
	-moz-animation: fade_move_down 1.25s ease-in-out infinite;
	animation: fade_move_down 1.25s ease-in-out infinite;
}

.scroll-down:hover{
	border-bottom: 5px solid #cc3480;
	border-right: 5px solid #cc3480;
}

.scroll-down:visited{
	border-bottom: 2px solid #cc3480;
	border-right: 2px solid #cc3480;
}

#subheader {
    background-color: #00afe2;
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 1000;
	height: 100%;
}

#subheader p {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em 0;
    line-height: 24px;
    font-size: 18px;
}

#subheader a {
    color: #fff;
}

#subheader a:hover {
    color: #cc3480;
}

#subheader .scroll-down {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

#subheader .scroll-down:hover{
	border-bottom: 5px solid #fff;
	border-right: 5px solid #fff;
}

#subheader .scroll-down:visited{
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}
 
#footer {
    background-color: #fff;
    width: 100%;
    min-height: 5vh;
    padding-top: 1.5vh;
    padding-bottom: 4vh;
    text-align: center;
    line-height: 20px;
    position: relative;
    z-index: 5;
    font-family: 'Source Sans Pro', sans-serif;
}

#footer p {
    text-align: center;
    font-size: 0.85rem;
} 

#footer .indice a {
    font-size: 0.9rem;
    padding-right: 0.4em;
}

#footer .logo img {
    width: 200px;
    padding: 1.5rem 0;
}

#footer a {
    color: #00afe2;
}

#footer a:hover {
    color: #cc3480;
}

.indice {
    padding: 1.25em 0;
}

#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hidden {
    visibility: hidden;
}

.light {
    color: #00568a;
    background-color: #fff;
}

.light-branco {
    color: #00568a;
    background-color: #fff;
}

.azul-habitat {
    color: #00afe2;
}

.laranja {
    color: #e3773b;
}

.rosa {
    color: #cc3480
}

.azul {
    color: #00568a
}

.branco {
    color: #fff
}

.preto {
    color: #000
}

.dark {
    color: #fff;
    background-color: #444;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 3vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.lefty img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.step {
    padding-bottom: 50em;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}

.step.active {
    opacity: 0.99;
}

#rotate-mobile {
    display: none;
}

.mapboxgl-popup {
    font: 12px/20px 'Montserrat', Helvetica, sans-serif;
}

.mapboxgl-ctrl-top-right {
    margin-top: 75px !important;
    margin-right: 20px !important;
    z-index: 999;
}
  
@media (max-width: 700px) {

    .p-left {
        padding-left: 0em;
    }

    #subheader p {
        line-height: 1em;
        font-size: 0.95em;
    }    

    .mapboxgl-ctrl-top-right {
        margin-top: 7em !important;
		margin-right: 0em !important;
	}

    #features {
        width: 100%;
        margin: 0 auto;
    }

    .step {
        padding-bottom: 65vh;
    }

    .fully img {
        width: 100%;
    }

    .lefty img {
        width: 10em;
    }

    #footer p {
        padding: 0;
    }

    .centered,
    .lefty,
    .righty {
        width: 80vw;
        margin: 0 auto;
    }
    
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

/* The progress container */
.progress-container {
    width: 100%;
    height: 5px;
    background: #fff;
    position: fixed;
    z-index: 9999;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 5px;
    background: #cc3480;
    width: 0%;
    top: 0;
    position: fixed;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform:translate(0, -10px) rotate(45deg);
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
    100% {
        -webkit-transform:translate(0, 10px) rotate(45deg);
        opacity: 0;
   }
}
   
@-moz-keyframes fade_move_down {
    0% {
        -moz-transform:translate(0, -10px) rotate(45deg);
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
    100% {
        -moz-transform:translate(0, 10px) rotate(45deg);
        opacity: 0;
   }
}

@keyframes fade_move_down {
    0% {
        transform:translate(0, -10px) rotate(45deg);
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
    100% {
        transform:translate(0, 10px) rotate(45deg);
        opacity: 0;
   }
}

.carousel-item img {
   object-fit: cover;
   height: 60vh;
}

.h-10 {
    height: 10% !important;
}

#carousel-thumbs {
    background: rgba(255,255,255,0.4);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
    z-index: 999;
}

#carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
}

#carousel-thumbs img:hover {
    border-color: rgba(204, 52, 128, 1);
}

/*#carousel-thumbs .selected img {
    border-color: rgba(204, 52, 128, 1);
}*/
  
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-caption h3 {
  font-size: 32px;
}

.carousel-caption p {
  font-size: 18px;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

/*@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: rgba(204, 52, 128, 0.25);
  }
}*/

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

.animated-icon3 span {
  background: #cc3480;
}
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/* ACCORDEON NUMEROS */

.accordion .highlight .btn {
    color: #cc3480;
}

.accordion .highlight i {
    transform: rotate(180deg);
}

.card-header .btn {
    font-weight: bold;
}

.accordion h1, .h1 {
    font-family: 'Bolgart', sans-serif;
}

/* PUB CARDS */

#carouselPub .cards-wrapper {
    display: flex;
    justify-content: center;
}

#carouselPub .card {
    margin: 0 0.5em 2em 0.5em;
}

#carouselPub .card .card-img-top {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 225px;
    transform: translateY(52%);
    transition: 0.5s;
}

#carouselPub .card .card-body {
    z-index: 1;
    box-sizing: border-box;
    padding: 1.25em;
    height: 215px;
    background: #ffc5da;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.06), 
        0 6.7px 5.3px rgba(0, 0, 0, 0.085), 
        0 12.5px 10px rgba(0, 0, 0, 0.1), 
        0 22.3px 17.9px rgba(0, 0, 0, 0.175);
    transform: translateY(-50%);
    transition: 0.5s;
}

#carouselPub .card .card-body .card-title {
    margin: 0 0 0.5em 0;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.25;
}

#carouselPub .card .card-body .card-text {
    margin: 0 0 1em 0;
}

#carouselPub .card:hover .card-img-top {
    transform: translateY(2%);
}

#carouselPub .card:hover .card-body {
    transform: translateY(0);
}

#carouselPub p {
    font-size: 0.9rem;
    line-height: 1.25;
}

#carouselPub .card-title {
    color: #cc3480;
}

.container-carousel {
  width: 100%;
  padding: 10px 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
    .container-carousel {
    max-width: 585px;
  }
}

@media (min-width: 768px) {
    .container-carousel {
    max-width: 775px;
  }
}

@media (min-width: 992px) {
    .container-carousel {
    max-width: 850px;
  }
}

@media (min-width: 1200px) {
    .container-carousel {
    max-width: 1100px;
  }
}

/* METODOLOGIA CARDS */

#carouselMetod .cards-wrapper {
    display: flex;
    justify-content: center;
}

#carouselMetod .card {
    margin: 0 0.5em 2em 0.5em;
}

#carouselMetod .card .card-img-top {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 365px;
    transform: translateY(52%);
    transition: 0.5s;
}

#carouselMetod .card .card-body {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 1.25em;
    height: 350px;
    width: 100%;
    background: #00568a;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.06), 
        0 6.7px 5.3px rgba(0, 0, 0, 0.085), 
        0 12.5px 10px rgba(0, 0, 0, 0.1), 
        0 22.3px 17.9px rgba(0, 0, 0, 0.175);
    transform: translateY(-50%);
    transition: 0.5s;
}

#carouselMetod .card .card-body .card-title {
    margin: 0 0 0.5em 0;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.25;
}

#carouselMetod .card .card-body .card-text {
    margin: 0 0 1em 0;
}

#carouselMetod .card:hover .card-img-top {
    transform: translateY(2%);
}

#carouselMetod .card:hover .card-body {
    transform: translateY(0);
}

#carouselMetod p {
    font-size: 0.9rem;
    line-height: 1.25;
    color: #fff;
}

#carouselMetod .card-title {
    color: #ffc5da;
}

/* MOVE CARDS */

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.page-content .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .page-content .card {
        height: 350px;
    }
}

.page-content .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.page-content .card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.page-content .card:nth-child(1):before {
    background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.page-content .card:nth-child(2):before {
    background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.page-content .card:nth-child(3):before {
    background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.page-content .card:nth-child(4):before {
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.page-content .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.page-content .content>*+* {
    margin-top: 1rem;
}

.page-content .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.page-content .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.page-content .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.page-content .btn:hover {
    background-color: #0d0d0d;
}

.page-content .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .page-content .card:after {
        transform: translateY(0);
    }

    .page-content .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .page-content .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .page-content .card:hover,
    .page-content .card:focus-within {
        align-items: center;
    }

    .page-content .card:hover:before,
    .page-content .card:focus-within:before {
        transform: translateY(-4%);
    }

    .page-content .card:hover:after,
    .page-content .card:focus-within:after {
        transform: translateY(-50%);
    }

    .page-content .card:hover .content,
    .page-content .card:focus-within .content {
        transform: translateY(0);
    }

    .page-content .card:hover .content>*:not(.title),
    .page-content .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .page-content .card:focus-within:before,
    .page-content .card:focus-within:after,
    .page-content .card:focus-within .content,
    .page-content .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

/* ROTATE CARD 2 */

#carouselRot2 .cards-wrapper {
    display: flex;
    justify-content: center;
}

#carouselRot2 .wrapper {
    margin: 0 2em 2em 2em;
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

#carouselRot2 .wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #ffc5da;
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.text-box {
    position: absolute;
    height: 10%;
    color: #fff;
    text-align: center;   
    width: 100%;
 }

#carouselRot2 .wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

#carouselRot2 .wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-fit: cover;
}

#carouselRot2 .wrapper .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
}

#carouselRot2 .wrapper:hover>.back-face {
    transform: rotateY(0deg);
}

#carouselRot2 .wrapper .back-face img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    background: linear-gradient(375deg, #cc3480, #ffc5da);
}

#carouselRot2 .wrapper .back-face .info {
    text-align: center;
}

#carouselRot2 .back-face .info .title {
    font-size: 30px;
    font-weight: 500;
}

